<!DOCTYPE html>
<html>
    <head>
        <% if (blocks.title) { %>
            <title><%= blocks.title %></title>
        <% } else { %>
            <title>Wii-U</title>
        <% } %>

        <%-scripts%>
        <%-stylesheets%>
    </head>
    <body>
        <header>
            <h2>Header</h2>
        </header>
        <section class="main">
            <%-body -%>
        </section>
        <footer>
            <h2>Footer</h2>
        </footer>
    </body>
</html>
