<!--
================================
=_____ WII-U File Storage _____=
================================
=________ Created by: _________=
=______ Jordan Buschman _______=
=__ email: jbuschman@scu.edu __=
================================
-->

<!DOCTYPE html>
<html>
    <head>
        <% if (this.title) { %>
            <title><%=title%></title>
        <% } else { %>
            <title>Wii-U</title>
        <% } %>

        <%-scripts%>
        <%-stylesheets%>
    </head>
    <body>
        <header>
            <h2>Header</h2>
        </header>
        <section class="main">
            <%-body -%>
        </section>
        <footer>
            <h2>Footer</h2>
        </footer>
    </body>
</html>
